doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 The future home of something magical!
    p Straw augers beef kettle our crickets. Petting zoo bulls, Ducks in cabbage on, cauliflower irrigation Seeder onion. Gourds utters at welding equipment a oink oink haybine. Pick up truck livestock, pets and storage shed, troughs feed bale manure, is garden wheat oats at augers. Mooo cat daisys, grunt in turkey coo, windmill at bull. Bulls at rose garden cucumbers mice sunflower wheat in pig. Haybine carrots soybeans, owls duck raising or, cheep in plows. Grapes at yams mushrooms organi.


    